* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f6f6f6;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content {
  max-width: 1000px;
  margin: auto;
}

nav {
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1);
  margin-bottom: 10px;
  padding: 5px;
  background-color: white;
}

nav a {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 3px;
}

nav a:hover {
  background-color: #f1f1f1;
}

.header-color {
  background-color: cornflowerblue;
  color: white;
}

.right-float {
  float: right;
  padding: 10px;
}

.side-menu {
  width: 35%;
}

.main {
  width: 65%;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 500px;
  overflow: auto;
}

.list li {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  cursor: pointer;
  color:cornflowerblue;
  text-indent: 15px;
}

.list li:last-child {
  border-bottom: none;
}

.list li:hover {
  background-color: #eee;
}

@media screen and (max-width: 500px) {
  .right-float { 
    float: none;
  }
  .main, .side-menu {
    width: 100%;
  }
}